//
// Content
//

// General mode
.content {
	background-color: $content-bg-color;
}


// Desktop mode
@include media-breakpoint-up(lg) {
	.content {
		padding: get($content-spacing, desktop) 0;
	}
}

// Tablet & mobile modes
@include media-breakpoint-down(lg) {
	.content {
		padding: get($content-spacing, tablet-and-mobile) 0;
	}
}
