//
// Scroll mixins
//

@mixin scrollbar-color($color) {
    // Firefox
    scrollbar-color: $color transparent;

    // Webkit
    &::-webkit-scrollbar-thumb {
        background-color: $color;
    }
}
